.app {
  background-color: #fff;
  .div__body {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 12px -4px rgba(0, 0, 0, 0.5);
  }
  .div__cards {
    display: flex;
    margin: 0 10px;
    overflow-x: scroll;
  }

  ::-webkit-scrollbar {
    display: block;
  }
  /* width */
  ::-webkit-scrollbar {
    width: 20px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 10px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 10px;
    size: 1rem;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #393e46;
  }
  
  .card:not(:last-child) {
    margin-left: 20px;
    margin-top: 10px;
  }
  .card:last-child {
    margin-top: 10px;
    margin-right: 20px;
  }
}

.ant-typography.featured__section {
  padding: 5px 2rem 0 2rem;
}


.promo__section{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
}