.card__container {
  display: flex;
  padding: 0 0 5rem;
}

.card__row {
  max-width: 300px;
}

.ant-image-img {
  max-height: 400px;
  min-width: 300px;
  padding: 0.6rem;
  border-radius: 0.9rem;
}
.card__detail {
  margin-left: 10px;
  .ant-typography {
    margin: 0;
  }
}
